<!DOCTYPE html>
<html>
<body>
    <link rel="stylesheet" href="../static/style.css">
<h1>Predicting Social Network Ads Purchasing with ML</h1>
<p>Enter customer information</p>
<form action="/predict" method="post">
    <label for="Gender">Gender:</label>
    <select id="Gender" name="Gender" required>
        <option value="Male">Male</option> 
        <option value="Female">Female</option>
    </select><br><br>
    <label for="Age">Age</label>
    <input type="number" id="Age" name="Age"><br><br>
    <label for="EstimatedSalary">EstimatedSalary</label>
    <input type="number" id="EstimatedSalary" name="EstimatedSalary"><br><br>
    <button type="submit">Predict</button>
</form>


</body>
</html>
